header {
    height: auto;
}

.title {
    color: #fff;
    margin-bottom: 32px;
}

.stats {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(80deg, #252728 0%, #101415 100%);
}

@media screen and (max-width: 768px) {
    header{
        padding: 8px;
    }
    .stats{
        padding: 8px 0;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;
        border-radius: 12px;
        
    }
}