header {}

.title {
    color: #fff;
    margin-bottom: 32px;
}

.stats {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(80deg, #252728 0%, #101415 100%);
}

.attribute {
    padding: 8px;
}

.attributeInner {
    width: 200px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attributeText {
    color: #fff;
    text-transform: uppercase;
}

.attr {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

}

.attr:hover {
    background-color: #ffffff10;
    border-radius: 5px;
}

.attrActive {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff50;
    border-radius: 5px;
}

.attr>img {
    width: 32px;
    height: 32px;
    pointer-events: none;
}

.attrActive>img {

    width: 32px;
    height: 32px;
    pointer-events: none;
}

.attackType {
    padding: 8px;
}

.attackTypeInner {
    width: 100px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attackTypeText {
    color: #fff;
    text-transform: uppercase;
}

.attackTypeButt {
    width: 48px;
    height: 48px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.attackTypeButt>img {
    width: 24px;
    height: 24px;
}


.attackTypeButt:hover {
    background-color: #ffffff10;
    border-radius: 5px;
}

.attackTypeButtActive {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff50;
    border-radius: 5px;
}

.roles {
    padding: 8px;
}

.rollesInner {
    width: auto;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 8px;
}

.rolesText {
    color: #fff;
    text-transform: uppercase;
}

.rollesInner>div {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rollesInner>div:hover {
    background-color: #ffffff10;
    border-radius: 5px;
}

.rollesInner>div>img {
    width: 32px;
    height: auto;
    filter: invert(82.5%);
}

span {
    width: 1px;
    border-radius: 0.5px;
    height: 24px;
    background-color: #000;
    filter: invert(82.5%);
    margin: 0 8px;
}